---
layout: default
id: index
sitemap:
  exclude: 'no'
---
    <body class="index-body"  style="background:rgba(var(--color-splash-background), 1);">

		<!-- Include Preloader -->
		<div role="complementary" id="preloader" class="displaynone">
			<div class="spinner_wrap"><img alt="Site Logo" src="img/svg/logo.svg" class="spinner "></img></div>
		</div>

		{% include navigation.html %}

		<div id="content" class="content-wrapper" data-background-color="rgba(var(--color-splash-background), 1)">

			{% include sections/splash.html %}
			{% include sections/about.html %}
			{% include sections/services.html %}
			{% include sections/contact.html %}

			{% include footer.html %}
			{% include tail.html %}
		</div>
	</body>
		<!-- Necessary Libaries -->
		<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
		<script src="../js/particles.js" ></script>

		<script src="../js/three.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.11.3/paper-full.min.js"></script>
		<script src="../js/backgrounds.js"></script>
		<script src="../js/preloader.js"></script>
		<script src="../js/typed.js"></script>
		



	
