<section id="services" data-background-color="rgba(var(--color-splash-background3), 1)">
    <canvas id="shapes-canvas" class="fixedbg bg3"></canvas>
    <div class="section-content-wrapper">
        <div class="title-holder">
            <span class="pre-sec-title">--- Have a problem?</span>
            <h2>I provide solutions.</h2>
        </div>
        <div class="sec-content-holder">

                <div class="arlo_tm_services">
                    <div class="container">
                        <div class="service_inner">
                            <ul>
                                {%- for service in site.our_services -%}
                                <li  class="">
                                    <div class="inner">
                                        <!-- <img class="svg" src="{{ service.image | relative_url }}" alt="" /> -->
                                        <span class="{{ service.image }}" ></span>
                                        <h3>{{ service.name }}</h3>
                                        <p>{{ service.description }}</p>
                                    </div>
                                </li>
                                {%- endfor -%}
                            </ul>
                        </div>
                    </div>
                </div>



        </div>	
    </div>
</section>