<section id="welcome" data-background-color="rgba(var(--color-splash-background), 1)">

    <div id="splash">
        <div class="splash-center-div EP-fade EP-displaynone">
            <h1 class="row fade-in-5s">
                <span class="splash-title thin">Nic</span> <span class="splash-title thick"><strong>Durish</strong></span>
            </h1>

            <h2 class="row fade-in-5s splash-subtitle">
                <span class=" typewrite" data-period='75' data-set='["Full-Stack Web Developer&nbsp;", "Digital Product Designer&nbsp;", "Systems Auditor & Analyst&nbsp;", "Service Integrator&nbsp;", "with a focus on accessibility and usability!"]' data-delay='3000' data-loop='true'>Web Development, Digital Systems Design, and Service Integration with a focus on Accessibility and Usability</span>&nbsp;
            </h2>

            <span class="scroll-down-arrow fullbann scrollvanish"></span>
        </div>
        
    </div>
    <div class="fixedbg bg1" aria-label="Moving Background" id="particles-js"></div>
</section>