/*************
Banner
**************/
.banner-div {
  height: calc(70vh + 105px);
  width: 100%;
  z-index: -1;

  .banner {
    height: 100%;
    width: 100%;
    display: block;
    z-index: -10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .page-content {
    position: absolute;
    top: 0;
    height: 80vh;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
  }

  .page-content.post {
    z-index: 0;
  }

  .bannertext-div {
    width: 47vw;
    max-width: 800px;
    height: calc(70vh - 20px);
    position: absolute;
    top: 100px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -1;

    .banner-title {
      margin-top: 0;
      margin-bottom: 0;
      color: var(--color-secondary);
      font-size: 2.5em;
    }

    .banner-text {
      color: var(--color-gray-27);
      font-size: calc(0.7vw + 10px);
      line-height: calc(0.7vw + 12px);
    }
  }

  .center-div {
    width: 100%;
    max-width: 100%;
    top: 85px;
  }

  .right-div {
    right: 0;
  }
}
@media screen and (max-width: 768px) {
  .bannertext-div {
    width: 55vw;
  }
}

.half-div {
  height: calc(40vh + 105px) !important;

  .bannertext-div {
    height: calc(40vh - 20px);
  }
}

.mid-div {
  height: calc(55vh + 105px) !important;

  .bannertext-div {
    height: calc(55vh - 20px);
  }
}


/*************
Banner Arrow
**************/
.scroll-down-arrow {
  margin-top: calc(50vh);
  position: absolute;
  -webkit-animation: bounce 1000ms ease infinite;
  -moz-animation: bounce 1000ms ease infinite;
  -o-animation: bounce 1000ms ease infinite;
  animation: bounce 1000ms ease infinite;
  -webkit-animation-timing-function: cubic-bezier(.14, .75, .2, 1.01);
  -moz-animation-timing-function: cubic-bezier(.14, .75, .2, 1.01);
  -ms-animation-timing-function: cubic-bezier(.14, .75, .2, 1.01);
  animation-timing-function: cubic-bezier(.14, .75, .2, 1.01);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #f2f2f2;
  content: "";
}

.scroll-down-arrow.fullbann {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 25px solid #f2f2f2;
}

@-webkit-keyframes bounce {
  0%,
  100% {
    top: 9px;
    opacity: 0.15;
  }

  25% {
    top: 12px;
    opacity: 0.45;
  }

  50% {
    opacity: 0.3;
  }
}
@keyframes bounce {
  0%,
  100% {
    top: 9px;
    opacity: 0.15;
  }

  25% {
    top: 12px;
    opacity: 0.45;
  }

  50% {
    opacity: 0.3;
  }
}
